.comagic-slider-container, .comagic-buttons-container, .comagic-banner-container {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Arial,Helvetica,sans-serif;
  vertical-align: baseline;
  text-align: left;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-image: none;
  height: auto;
  position: static;
  float: none;
  color: white;

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
    vertical-align: baseline;
    text-align: left;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-image: none;
    height: auto;
    position: static;
    float: none;
    color: white;
  }
}

.comagic-unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.comagic-clearer {
  float: none !important;
  clear: both !important;
}

.comagic-component {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Arial,Helvetica,sans-serif;
  vertical-align: baseline;
  text-align: left;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-image: none;
  height: auto;
  position: static;
  float: none;
  color: white;
  opacity: .99;

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
    vertical-align: baseline;
    text-align: left;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-image: none;
    height: auto;
    position: static;
    float: none;
    color: white;
    opacity: .99;
  }

  input {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.comagic-field-container .comagic-field-wrapper .comagic-field.comagic-watermark {
  color: #9b9b9b;
  font-style: italic;
}

.comagic-abstract-label {
  position: fixed;
  font: 12px Arial,Helvetica,Trebuchet,sans;

  img {
    background: url("//app.comagic.ru/static/banner/images/main/iconset.png") no-repeat;
  }

  &.comagic-top {
    top: 0;
  }

  &.comagic-middle {
    top: 40%;

    &.comagic-left {
      left: 0;
    }

    &.comagic-right {
      right: 0;
    }
  }

  &.comagic-bottom {
    bottom: 0;
  }

  &.comagic-left {
    left: 30px;
  }

  &.comagic-right {
    right: 30px;
  }
}

.comagic-banner-container {
  &.comagic-top .comagic-expanded {
    margin-top: 20px;
  }

  &.comagic-bottom .comagic-expanded {
    margin-bottom: 20px;
  }

  &.comagic-middle {
    &.comagic-left .comagic-expanded {
      margin-left: 30px;
    }

    &.comagic-right .comagic-expanded {
      margin-right: 30px;
    }
  }
}

.comagic-tipsy {
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

.comagic-tipsy-inner {
  font: 14px Arial;
  line-height: 16px;
  background-color: #000;
  color: #FFF;
  padding: 8px 10px;
  text-align: center;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.27) 0, rgba(62, 62, 62, 0.5) 100%);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.21);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  white-space: nowrap;
}

.comagic-tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #3e3e3e;
}

.comagic-tipsy-arrow-n {
  border-bottom-color: #3e3e3e;
}

.comagic-tipsy-arrow-s {
  border-top-color: #3e3e3e;
}

.comagic-tipsy-arrow-e {
  border-left-color: #3e3e3e;
}

.comagic-tipsy-arrow-w {
  border-right-color: #3e3e3e;
}

.comagic-tipsy-n .comagic-tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.comagic-tipsy-nw .comagic-tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.comagic-tipsy-ne .comagic-tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.comagic-tipsy-s .comagic-tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.comagic-tipsy-sw .comagic-tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.comagic-tipsy-se .comagic-tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.comagic-tipsy-e .comagic-tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.comagic-tipsy-w .comagic-tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.comagic-element-mask {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  -moz-opacity: 0.3 !important;
  opacity: 0.3 !important;
  filter: alpha(opacity = 30) !important;
  width: 100% !important;
  height: 100% !important;
  zoom: 1 !important;
  background-color: #000 !important;

  &.comagic-element-mask-fixed {
    position: fixed !important;
  }
}

.comagic-form-panel.comagic-form-panel-fixed {
  position: fixed;
}

.comagic-test-label {
  display: block;
  font: 15px Arial;
  margin: 20px 0;
}

a.comagic-file-upload {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  form {
    position: absolute;
    top: 0;
    left: 0;

    input[type="file"] {
      cursor: pointer;
      opacity: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      top: 0;
      left: 0;
    }
  }
}

.comagic-sitephone-popup.comagic-popup-message-panel {
  position: fixed;
  min-height: 68px;
  line-height: 70px;
  padding: 10px;

  div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    * {
      line-height: normal;
      text-align: center;
    }
  }
}

.comagic-popup-message-panel {
  &.comagic-popup-message-panel-success h1 {
    color: #B7EB81;
  }

  &.comagic-popup-message-panel-failure h1 {
    color: #FF7A77;
  }

  &.comagic-top {
    top: 0;
  }

  &.comagic-bottom {
    bottom: 0;
  }

  &.comagic-left {
    left: 0;
  }

  &.comagic-right {
    right: 0;
  }

  &.comagic-middle {
    top: 40%;
  }
}

.comagic-common-form-panel.comagic-callbutton-site-phone .comagic-common-form-panel-container .comagic-common-form-panel-footer {
  position: absolute;

  a {
    font-size: 10px;
  }

  img {
    background: url("//app.comagic.ru/static/banner/images/main/iconset.png") no-repeat;
    height: 10px;
    width: 44px;
  }
}

.comagic-call-button-handset {
  position: fixed;

  .comagic-fill-handset-color {
    fill: white;
  }

  .comagic-stroke-border-color {
    stroke: #61b400;
  }

  .comagic-fill-center-color {
    fill: #66bd00;
  }

  .comagic-gradient stop {
    &:nth-child(1) {
      stop-color: #66bd00;
    }

    &:nth-child(2) {
      stop-color: #61b400;
    }
  }

  .comagic-fill-rect-color {
    fill: #bf0;
  }

  .comagic-fill-text-color {
    fill: #2f5700;
  }

  .comagic-shadow-lower {
    display: none;
  }

  .comagic-shadow-upper {
    fill: #1a6200;
  }

  .comagic-fill-secondary-color {
    fill: #1ad1ff;
  }

  .comagic-stroke-secondary-color {
    stroke: #1ad1ff;
  }

  .comagic-pointer {
    cursor: pointer;
  }
}

.comagic-callbutton-site-phone.comagic-common-form-panel {
  &.comagic-top {
    top: 0;
    padding-right: 26px;

    .comagic-common-form-panel-tools {
      position: absolute;
      right: 0;
      width: 26px;

      .comagic-panel-tool-button {
        margin-bottom: 4px;
      }
    }

    .comagic-common-form-panel-container {
      border-radius: 0 0 10px 10px;
    }
  }

  &.comagic-middle {
    top: 40%;

    &.comagic-left {
      left: 0;

      .comagic-common-form-panel-container {
        border-radius: 0 10px 10px 0;
      }
    }

    &.comagic-right {
      right: 0;

      .comagic-common-form-panel-tools > * {
        float: left;
        margin: 0 4px 0 0;
      }

      .comagic-common-form-panel-container {
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

.comagic-common-form-panel {
  &.comagic-bottom {
    bottom: 0;
  }

  &.comagic-left {
    left: 30px;
  }

  &.comagic-right {
    right: 30px;
  }

  &.comagic-callbutton-site-phone {
    width: 270px;
    max-width: 348px;
    font-family: Arial,Helvetica,Trebuchet,sans;
    font-size: 12px;
    position: fixed;

    .comagic-common-form-panel-tools {
      padding: 0 0 4px 0;
      height: 22px;

      > * {
        float: right;
      }
    }

    .comagic-panel-tool-button {
      transition: .3s;
      filter: alpha(opactiy = 10);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
      -moz-opacity: .1;
      -khtml-opacity: .1;
      opacity: .1;
      margin: 0 0 0 4px;
    }

    &:hover .comagic-panel-tool-button {
      transition: .3s;
      filter: alpha(opactiy = 100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
    }

    .comagic-common-form-panel-container {
      position: relative;
      padding: 10px 10px 8px 10px;
      box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      background-color: #43a400;
      background-color: rgba(0, 0, 0, 0.15) 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0) 0), to(rgba(0, 0, 0, 0.15) 100%));
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.15) 100%);
      background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.15) 100%);
      background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.15) 100%);
      background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.15) 100%);
      background-image: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.15) 100%);
      background-repeat: repeat-x;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
      border-radius: 10px 10px 0 0;

      .comagic-common-form-panel-header {
        background-color: transparent;
        padding: 0;

        > {
          * {
            display: inline-block;
            vertical-align: middle;
            max-height: 76px;
          }

          div {
            color: white;
            font-weight: bold;
            width: 164px;
            font-size: 14px;
          }

          img {
            background: url("//app.comagic.ru/static/banner/images/main/iconset.png") no-repeat;
            background-position: -80px -141px;
            height: 54px;
            width: 54px;
            margin: 0 10px 0 0;
          }
        }
      }

      .comagic-common-form-panel-items {
        margin: 10px 0 0 0;

        .comagic-field-container {
          margin: 0 0 5px 0;

          .comagic-field {
            background-color: #FFF;
          }
        }

        &.comagic-common-form-panel-items-few .comagic-field-container {
          margin: 0 0 10px 0;
        }
      }

      .comagic-common-form-panel-footer {
        bottom: 6px;
        right: 10px;
      }

      height: 251px;
      min-height: 251px;
      max-height: 251px;
      background-color: #66bd00;
      border: none;

      &.non-captcha {
        height: 155px;
        min-height: 155px;
        max-height: 155px;
      }

      .comagic-common-form-panel-items {
        padding: 1px 0 0 0;
        background-color: transparent;

        .comagic-captcha-field-image {
          width: 80px;
          vertical-align: top;
          margin: 0 10px 0 0;
        }

        .comagic-captcha-field {
          width: 94px !important;
        }

        .comagic-text-button {
          display: block;
          margin: -1px 0 0 0;
          width: 70px;
        }

        &.comagic-common-form-panel-items-few .comagic-field-container {
          margin: 0 0 6px 0;

          .comagic-field-wrapper {
            margin: 6px 0 0 0;

            input[name=phone] {
              margin: 0 0 2px 0;
            }
          }
        }
      }

      .comagic-common-form-panel-buttons {
        margin: 11px 0 0 0;
        background-color: transparent;
      }
    }

    .comagic-common-form-panel-buttons {
      margin: 5px 0 0 0;

      .comagic-common-button {
        display: block;
        height: 18px;
        margin: 0;
      }
    }
  }
}

.comagic-callbutton-site-phone {
  .comagic-field-container {
    label {
      color: white;
    }

    .comagic-field-wrapper {
      position: relative;
      width: 100%;

      img.comagic-error-icon {
        display: none;
      }

      .comagic-field {
        width: 100%;
        padding: 6px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        color: black;
        font-size: 12px;
        line-height: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
          color: #9b9b9b;
          font-style: italic;
          font-size: 12px;
        }

        &:focus::-webkit-input-placeholder {
          color: white;
        }

        &:-moz-placeholder {
          color: #9b9b9b;
          font-style: italic;
          font-size: 12px;
        }

        &:focus:-moz-placeholder {
          color: white;
        }

        &::-moz-placeholder {
          color: #9b9b9b;
          font-style: italic;
          font-size: 12px;
        }

        &:focus::-moz-placeholder {
          color: white;
        }

        &:-ms-input-placeholder {
          color: #9b9b9b;
          font-style: italic;
          font-size: 12px;
        }

        &:focus:-ms-input-placeholder {
          color: white;
        }

        &.comagic-field-inner-error {
          text-align: right;
          color: #FF243E;
          padding-right: 30px;
        }
      }

      input {
        height: 30px;
      }

      textarea {
        resize: none;
        height: 84px;
        text-transform: none;
      }
    }

    &.comagic-field-container-error .comagic-field-wrapper {
      img.comagic-error-icon {
        z-index: 1;
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 0;
        width: 18px;
        background: url("//app.comagic.ru/static/banner/images/main/iconset.png") no-repeat;
        background-position: -8px -439px;
      }

      .comagic-field {
        background-color: #fff !important;

        &.comagic-field-error-no-message {
          color: #FF243E;
        }
      }

      &.comagic-captcha-field-wrapper img.comagic-error-icon {
        right: 70px;
      }
    }
  }

  .comagic-button {
    cursor: pointer;
    outline-width: 0;
    overflow: hidden;

    span {
      color: black;
    }
  }

  a {
    &.comagic-common-button {
      min-width: 115px;
      max-width: 250px;
      height: 30px;
      border-radius: 3px;
      border: none;
      background: #dedede;
      background-color: #d8d8d8;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d8d8d8));
      background-image: -webkit-linear-gradient(#f8f8f8, #d8d8d8);
      background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8);
      background-image: -o-linear-gradient(#f8f8f8, #d8d8d8);
      background-image: -ms-linear-gradient(#f8f8f8, #d8d8d8);
      background-image: linear-gradient(#f8f8f8, #d8d8d8);
      background-repeat: repeat-x;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.3);
      font-family: Arial,Helvetica,Trebuchet,sans;
      font-size: 14px;
      color: black;
      line-height: 16px;
      padding: 6px 20px;
      text-align: center;
      text-decoration: none;
    }

    &:hover.comagic-common-button {
      background-color: #c8c8c8;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#c8c8c8));
      background-image: -webkit-linear-gradient(#f2f2f2, #c8c8c8);
      background-image: -moz-linear-gradient(#f2f2f2, #c8c8c8);
      background-image: -o-linear-gradient(#f2f2f2, #c8c8c8);
      background-image: -ms-linear-gradient(#f2f2f2, #c8c8c8);
      background-image: linear-gradient(#f2f2f2, #c8c8c8);
      background-repeat: repeat-x;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
    }

    &:active.comagic-common-button {
      background-color: #f8f8f8;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#f8f8f8));
      background-image: -webkit-linear-gradient(#d8d8d8, #f8f8f8);
      background-image: -moz-linear-gradient(#d8d8d8, #f8f8f8);
      background-image: -o-linear-gradient(#d8d8d8, #f8f8f8);
      background-image: -ms-linear-gradient(#d8d8d8, #f8f8f8);
      background-image: linear-gradient(#d8d8d8, #f8f8f8);
      background-repeat: repeat-x;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16);
    }

    &.comagic-common-button.comagic-component-disabled {
      background-color: #e3e3e3;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e3e3e3));
      background-image: -webkit-linear-gradient(#f8f8f8, #e3e3e3);
      background-image: -moz-linear-gradient(#f8f8f8, #e3e3e3);
      background-image: -o-linear-gradient(#f8f8f8, #e3e3e3);
      background-image: -ms-linear-gradient(#f8f8f8, #e3e3e3);
      background-image: linear-gradient(#f8f8f8, #e3e3e3);
      background-repeat: repeat-x;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;

      span {
        color: #C9C9C9;
      }
    }
  }

  .comagic-button-icon {
    display: block;

    img {
      background: url("//app.comagic.ru/static/banner/images/main/iconset.png") no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  .comagic-panel-tool-button {
    height: 22px;
    width: 22px;
  }

  .comagic-panel-tool-button-close img {
    background-position: -38px -408px;
  }

  .comagic-panel-tool-button-unpin img {
    background-position: -38px -376px;
  }

  .comagic-panel-tool-button-minimize img {
    background-position: -101px -408px;
  }

  .comagic-text-button {
    text-decoration: underline;
    font-size: 10px;
    line-height: 14px;
    color: white;

    span {
      color: white;
    }
  }
}

.comagic-sitephone-popup.comagic-popup-message-panel {
  width: 248px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  background-repeat: repeat-x;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
    color: #D4D4D4;
  }
}

.comagic-site-phone-form-tooltip {
  &.comagic-tipsy {
    opacity: 0.8 !important;
    position: absolute;
    padding: 5px;
    z-index: 100000;
  }

  .comagic-tipsy-inner {
    font: 14px Arial;
    line-height: 16px;
    background-color: #000;
    color: #FFF;
    padding: 8px 10px;
    border: none;
    text-align: center;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.27) 0, rgba(62, 62, 62, 0.5) 100%);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.21);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    white-space: nowrap;
  }

  .comagic-tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #3e3e3e;

    &::after {
      display: none;
    }
  }

  .comagic-tipsy-arrow-n {
    border-bottom-color: #3e3e3e;
  }

  .comagic-tipsy-arrow-s {
    border-top-color: #3e3e3e;
  }

  .comagic-tipsy-arrow-e {
    border-left-color: #3e3e3e;
  }

  .comagic-tipsy-arrow-w {
    border-right-color: #3e3e3e;
  }

  &.comagic-tipsy-n .comagic-tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.comagic-tipsy-nw .comagic-tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.comagic-tipsy-ne .comagic-tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.comagic-tipsy-s .comagic-tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.comagic-tipsy-sw .comagic-tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.comagic-tipsy-se .comagic-tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.comagic-tipsy-e .comagic-tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  &.comagic-tipsy-w .comagic-tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}
