
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e716400c830b3dcd5623a88c309a7811
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress